Source: ros-dashing-ament-virtualenv
Section: misc
Priority: optional
Maintainer: Max Krichenbauer <v-krichenbauer7715@esol.co.jp>
Build-Depends: debhelper (>= 9.0.0), python-virtualenv, python3-packaging, python3-pytest, ros-dashing-ament-copyright, ros-dashing-ament-flake8, ros-dashing-ament-pep257, ros-dashing-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-ament-virtualenv
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python-virtualenv, python3-packaging, ros-dashing-ros-workspace
Description: Bundle python requirements in a ament package via virtualenv.
